﻿body {width:70%; margin:auto; border:1px dashed black; margin-top:70px;}
#calend {width:865px; height:548px; padding:0px; }
.year {
    padding: 0px;
    margin: 0px;
    width: 44px;
    height: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
}
