body { background-image: url(img/bck.jpg);
     background-size:  cover;
       
      
}

#ramka { margin-top:90px; margin-left:19%;
     padding: 10px;
            width: 715px; height: 500px;
          border: 1px solid black;
       position: absolute;
       background-color: #fff;
       
}

#mblock {
    margin-top: 100px; margin-left:20%;
    width: 700px; height: 500px;
    padding: 0;
    border: 1px solid black;
    position: absolute;
   
        
}

#mblockNav {
    margin-top: 100px; margin-left:20%;
    width: 700px; height: 500px;
    padding: 0;
    border: 1px solid black;
    position: absolute;
   
        
}

#nav {
    width: 93px; height: 31px; padding: 0;
    margin-bottom: 1px;  margin-top:466px; margin-left: 1px;
    
     float: left;
    
}

#black {
       margin-top: 100px; margin-left:20%;
    width: 700px; height: 500px;
    padding: 0;
    border: 1px solid black;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.99);
}

.navel {
    width: 30px; height: 30px; padding: 0; float: left; opacity: 0.1; display: normal;
}
.navel:hover {
     opacity: 0.5;
}

#navpause {
    margin-left:30px;
    width: 30px; height: 30px;
    padding: 0;
  display: none;
    position: absolute;
    opacity: 0.1;
    
}

#navpause:hover {
     opacity: 0.5;
}

#points { 
              height: 10px; padding: 0;
   margin-top: 470px;
    margin-right: 300px;

     width: 40px;
    float: right;
   
}



.point { 
    width: 10px; height: 10px; padding: 0;float: left; 
}

