﻿body {width:70%; margin:auto; border:1px solid black;min-width:510px; }
header {background: rgba(255, 204, 0, 0.3); min-height:100px;}
section {background: rgba(181, 181, 181, 0.7); min-height:600px; float:left;width:100%;padding:2px;;}
aside {background: rgb(255, 204, 0); min-height:600px;  width:300px;float:right;}
footer {background: rgba(104, 230, 71, 0.7); clear:both;min-height:50px;}
.block {width:90%; margin:5px;background: rgba(104, 230, 71, 0.7); min-height:150px; margin-left:auto; margin-right:auto;  }
table {  clear:both; min-width:500px; }
.littleBlock {width:49%; min-height:73px; margin:0px; border:1px solid black;  }