﻿body {width:1000px; margin:auto; border:1px solid black; }
header {background: rgba(255, 204, 0, 0.3); min-height:100px;}
section {background: rgba(181, 181, 181, 0.7); min-height:600px; float:left; width:680px;padding:10px;}
aside {background: rgb(255, 204, 0); min-height:600px; min-width:300px; float:right;}
footer {background: rgba(104, 230, 71, 0.7); clear:both;min-height:50px;}
.block {width:90%; margin:5px;background: rgba(104, 230, 71, 0.7); min-height:150px; }