
#Main {width: 100%; border: 1px solid black; margin: auto; margin: 0; position: fixed; }
#Images {width: 150px;margin: 0; float: right; border: 1px solid black;padding: 0; }
.Image {width: 98%; padding: 0; margin: auto; padding:5px; }
img:hover { border: 3px solid blue;}
