﻿#main {width:70%; margin:auto; border:1px solid black; position:relative;}
#head {height:200px;  border:1px solid black; text-align:center; position:relative;}
#foot { border:1px solid black; clear:both; height:100px; text-align:right;padding-right:10px;padding-top:10px;}
#left { border:1px solid black;left:0; float:left; width:15%;height:500px;   font-size:large;  }
#right { border:1px solid black;right:0;width:25%;  position:absolute; }
#content { border:1px solid black; float:left; padding:3px; width:59%; position:relative;}
a:visited {color:Black; }
Ul li:hover {background-color:rgba(0, 0, 0, 0.4 ); margin:5px;}
Ul { list-style:none; padding:0; text-align:center; font-size:  medium; }
img {float:left; margin:5px;}
#hmenu { bottom:0px; position:absolute; }
Ol { list-style:none; padding:0; text-align:left; }
Ol li {display:inline;}
Ol li:hover {display:inline; background-color:rgba(60, 170, 60, 0.4 ); margin:5px;}
.news {width:100%;  border:1px solid black;  margin-bottom:4px;}
.news img {float:left; margin:5px; height:90px; }