.main { width: 1000px;  margin: auto; font-size: 14px;border: 1px solid black; }
#top {margin-left: 70%; padding: 0; }
#mainTop {margin: auto; width: 1000px;padding: 0;  }
.info {width: 100%; padding: 1px; border-bottom: 1px solid black; border-top: 1px solid black; text-align: center; }
td {border: 1px solid black; text-align: justify; padding-left: 20px; padding-right: 20px;}
p {width: 1000px;  margin: auto; margin-bottom: 15px; margin-top: 15px;  }