body { width: 70%; height: 700px; border: 1px solid black; margin: auto;
}

#block1 {height: 150px; border: 1px solid black; width: 100%
}

#block2 { border: 1px solid black; width: 100%
}

ul {margin: 0 5px 0 5px; padding: 0; 
}
li {display: inline; margin-right: 5px; padding: 0; 
}

li:hover {background-color: rgba(108, 255, 79, 0.62); 
}

a { text-decoration: none; color: black;
}

#block3 {height: 100%; min-height: 500px; border: 1px solid black; width: 100%; 
}

.file {border: 1px solid black;  position: absolute; clear: both; padding: 0; height:1px; visibility: hidden; margin-top: 0; margin-left: 0;
 
}
.underBox { height: 15px; margin: 0; visibility: hidden;
}



