﻿body {width:70%; margin:auto; min-width:510px;box-shadow:7px 7px 5px rgba(50, 50, 50, 0.75); }
header {background: rgba(255, 204, 0, 0.3); min-height:100px; border-top-left-radius: 15px;
border-top-right-radius: 15px;}
section {background: rgba(181, 181, 181, 0.7); min-height:600px; float:left;width:100%;padding:2px;;}
aside {background: rgb(255, 204, 0); min-height:600px;  width:300px;float:right;}
footer {background: rgba(104, 230, 71, 0.7); clear:both;min-height:50px;}
.block {width:90%; margin:5px;background: rgba(104, 230, 71, 0.7); min-height:150px; margin-left:auto; margin-right:auto;  }
table {  clear:both; min-width:500px; }
.littleBlock {width:49%; min-height:73px; margin:0px; border:1px solid black;  }
#vmenu { height:20px; }
Ol { padding:0; text-align:left; margin-top:2px; float:left;  margin:5px;}
ol li {display:inline; border:1px solid black; padding:0 10px 0 10px; margin:1px; }
li:hover { background-color:rgba(60, 170, 60, 0.4 );}
a:visited {color:Black;  }
a {text-decoration:none; }
header {padding:0px; }
#txtlarge { width:90%; min-height:300px;}

