﻿body { }
#mBox  {height:auto; width:50%;margin:auto; border:1px solid black; border-radius:4px; }
#gBox1 {border:1px solid #d42828; height:150px; background-image:url("headPic.png"); background-position:center; background-repeat:no-repeat;border-radius:3px }
#gBox2 {border:1px solid #2038a8; height:150px;}
#gBox3 {border:1px solid #63e82b; height:200px; padding:0px 5px 2px 5px;}
#gBox4 {border:1px solid #ffcc00;height:50px; text-align:center; font-weight:bolder; border-radius:4px }
#lBox1 {float:left; border:1px solid #ff6a00; width:35%; height:100%; margin:0px 10px 0px 0px;padding:0px 5px 2px 5px; font-family:'Gotham'; }
#lBox2 { float:right; border:1px solid #ff6a00;   width:35%; height:100%;margin:0px 0px 0px 10px; padding:0px 5px 2px 5px; }
#lpicBox {float:left; border:1px solid #ff00dc; color:#ff6a00; width:35%; height:50%; margin:0px 10px 10px 0px; background-image:url("pic2.png"); background-position:center; background-repeat:no-repeat;  }