﻿body { background-image:url(fon2.jpg); background-attachment:fixed; background-position:center;}
table {width:65%; margin:auto; height:800px;background:rgba(255, 188, 140, 0.64); border-radius:15px;}
a { text-decoration:none;color:black;}
a:visited { text-decoration:none; color:black;}
.Content {padding:15px; }
li:hover { background:rgba(0, 0, 0, 0.47);}
Ol { list-style:none;  margin-left:0px;padding:0px;}
img {float:left;  margin:0px 10px 10px 0;}
.MainMenu {width:160px; height:500px; margin-left:0;}
.bot { height:50px;}
.top {background-image:url(top.jpg); height:216px; margin:0; border:1px solid black; }